:root {
  --text-font: system-ui, 'Inter', 'Helvetica Neue', sans-serif;
  --mono-font: ui-monospace, monospace;
}

*, * ::before, * ::after {
  box-sizing: border-box;
}

html {
  font-family: var(--text-font);
}

body {
  font-size: 0.75rem;
  line-height: 1.5rem;
}
